.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/food-knowledge-graph.iml
.env
# Ignore all files in the directory
data/raw/*
data/output/*
# But do NOT ignore the directory itself
!data/raw/
!data/raw/README.md
!data/output
!data/output/spacy_unique_ingredients.txt
!data/output/README.md

outputs
SpacyProcessing/__pycache__/spacy_processor.cpython-313.pyc
run1
run2
single_run/results_async.csv
llm_processing/batches/results_part_*
llm_processing/batches/batch_results_all.csv
data/output/mapped_responses.csv
