.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/food-knowledge-graph.iml
.env
data/raw
outputs
data/SpacyProcessing
SpacyProcessing/__pycache__/spacy_processor.cpython-313.pyc
run1
run2
single_run/results_async.csv
batches/results_part_*
batches/batch_results_all.csv
